@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientList</title>
    <link href="/node_modules/ag-grid/dist/styles/ag-grid.css" rel="stylesheet" />
    <link href="/node_modules/ag-grid/dist/styles/theme-fresh.css" rel="stylesheet" />
</head>
<body>

    <script src="~/wwwroot/dist/vendor.js"></script>
  
    
    <script>
        window.__agentCode__ = '03499';
        window.__PROSPECTID__ = '1963';
    </script>
    <div id="react-app" >Loading...</div>
    
    
    <script src="~/wwwroot/dist/main-client.js"></script>


</body>
</html>

